##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
##############################
## Maven
##############################
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.angular/
.angular
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
@jsumanadas

##############################
## OS X
##############################
.projectile
*~
\#*\#




##############################
## Data folder for local dev
##############################
data/

node_modules
node_modules/
/.angular/
/.angular/cache
.angular/cache
.angular/cache/babel-webpack
.angular/cache/angular-webpack
opsit-frontend/node_modules
opsit-frontend/dist
opsit-frontend/.angular
opsit-frontend/.angular-config
opsit-frontend/node

opsit-dsl-core/target
opsit-dsl-repl/target
runrepl.sh

## mkdocs generated files
docs/functions.md
site/